.modal-content {
    text-align: justify;  
    padding: 2%;        
    font-size: 18px;      
    line-height: 1.6;
    position: relative;
    background-color: #fff;
        z-index: 0;
    }

.modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/fondo.jpg') center/cover no-repeat;
    opacity: 0.1;
    z-index: -1;
}
.modal-content p {
    margin-bottom: 2%;  
}

.sectionTitle{
    font-family:'Eagle Lake';
    font-size: x-large;
}