.modal-content {
    text-align: justify;  
    padding: 2%;        
    font-size: 18px;      
    line-height: 1.6;
   
}

.modal-content p {
    margin-bottom: 2%;  
}

.sectionTitle{
    font-family:'Eagle Lake';
    font-size: x-large;
}