@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color:black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.webTitle{
  color:#1F3E2E;
  font-family:'Eagle Lake';
  font-size: 220%;
  line-height: 1.2; /*En el responsive puede llegar a montarse la letra*/
}